<div #mainHeader class="sticky-header" >
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="h-100 d-md-flex justify-content-between align-items-center">
        <div class="email-address">
          <a href="mailto:contact@konixsoft.com">contact@konixsoft.com</a>
        </div>
        <div class="phone-number d-flex">
          <div class="icon">
            <img src="assets/img/icons/phone-call.png" alt="">
          </div>
          <div class="number">
            <a href="tel:+91 123 4567891">+91 123 4567891</a>
          </div>
        </div>
      </div>
    </div>


    <div class="main-header-area" (scroll)="onScroll($event)">
      <mat-toolbar class="mat-toolbar-area bg-transparent" color="primary">
        
        <mat-toolbar-row>

          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>


          <a class="navbar-brand" href="#"><img src="../../assets/img/core-img/logo.png" alt=""></a>

          <!-- spacer -->
          <span class="spacer"></span>

          <!-- nav menu -->
          <a mat-button href="#" *ngIf="!(isHandset$ | async)">COMPANY PROFILE</a>
          <a mat-button href="#" *ngIf="!(isHandset$ | async)">SERVICES OFFERED</a>
          <a mat-button href="#" *ngIf="!(isHandset$ | async)">PRODUCTS</a>
          <a mat-button href="#" *ngIf="!(isHandset$ | async)">ABOUT US</a>

          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="menu.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>

        </mat-toolbar-row>
      </mat-toolbar>

    </div>
  </header>
</div>