<div class="tech-container">
  <h1 class="text-center w-100 pt-2">Technologies We Use</h1><br>

  <div class="tech-img-list d-md-inline-flex align-self-center col-10 text-center offset-1" >
    <div class="tech-card-container col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-6 col-lg-4" *ngFor="let image of technologyImg; index as ind">

      <mat-card #techCard class="tech-mat-card" (click)="openDialog()">
        <div class="card-img-container">

          <img mat-card-image class="card-img-top tech-img" src="../../assets/img/technologies/{{image}}.png" alt="image">

        </div>
        
      </mat-card>

    </div>
    <br>
  </div>

</div>
