<div class="tech-container">
  <h1 class="text-center w-100 pt-2">Technologies We Use</h1><br>

  <div class="tech-img-list" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div class="tech-card-container" *ngFor="let image of technologyImg; index as ind">

      <mat-card #techCard class="tech-mat-card" [ngClass]= "{'shadow-lg p-3 mb-5 rounded':hovering}" (mouseenter)="hovering = true" (mouseleave)="hovering = false">
        <div class="card-img-container">

          <img mat-card-image class="card-img-top tech-img" src="../../assets/img/technologies/{{image}}.png" alt="image">

        </div>
        
      </mat-card>
      <p>{{ind}}</p>

    </div>
    <br>
  </div>

</div>
