.service{
    position: relative;
    top: 45px;
    color: whitesmoke;
    background-color: azure;
}

.mobile-app{
    position: relative;
    top: 120px;
}

.web-app{
    position: relative;
    top: 120px;
}