.sidenav-container {
  height: 100%;
  // background-image: url('../../assets/img/bg-img/bg.jpg') !important;
  background: #000;
}

.sidenav {
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }

  a {
    color: white;
  }

  width: 210px;
  top:45px !important;
  background: #000;
}

.mat-toolbar.mat-primary {
  position: sticky;
  // top: 108px;
}

.side-nav-toolbar {
  height: 90px !important;
  // padding-left: 2px !important; 
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}



.mat-toolbar.mat-primary {
  position: sticky;
  // top: 108px;
}

.header-area {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: auto;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.sticky-header {
  position: sticky;
  top: -45px;
  z-index: 3;
}

.top-header-area {
  position: relative;
  z-index: 1;
  height: 45px;
  background-color: #4d443d;
  ;
}

.top-header-area .email-address {
  .icon {
    i {
      padding: 16px 0;
      max-width: 21px;
    }

    background-color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
  }

  .email {
    padding-left: 16px;
    line-height: 1;
    color: #ffffff;
    height: 45px;
  }
}

.top-header-area .email-address a {
  color: #ffffff;
  line-height: 45px;
  font-size: large;
  position: relative;
  z-index: 1;
  top: -2px;
}

.top-header-area .email-address a:hover,
.top-header-area .email-address a:focus {
  color: #ffffff;
}

.top-header-area .phone-number {
  line-height: 1;
  background-color: #947054;
  height: 45px;
  margin-bottom: 0;
}

.top-header-area .phone-number .icon {
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  text-align: center;
}

.top-header-area .phone-number .icon img {
  padding: 16px 0;
  max-width: 15px;
}

.top-header-area .phone-number .number {
  color: #ffffff;
  padding: 0 60px 0 15px;

  a {
    color: #ffffff;
    line-height: 45px;
    font-size: 15px;
  }
}


.main-header-area {
  li {
    list-style-type: none;
  }

  width: 100%;
  height: 90px;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}


.main-header-area .mat-toolbar-area {
  height: 90px;
  padding: .5em 60px;
}

.menus {
  a {
    text-decoration: none;    
  }

  a:hover {
    color: aliceblue;
  }

}

.spacer {
  flex: 1 1 auto;
}

.footer {
  position: relative;
  top: 45px;
  padding: 25px;
  width: 100%;
  height: 90px;
  background-color: black;
  color: #ffffff;
}

.address {
  padding: 0 30.5px;
  display: inline-block;
}

.career {
  padding: 0 30.5px;
  display: inline-block;
}

@media only screen and (max-width: 625px) {
  .career {
    border-top: 1px solid #737578;
    padding-top: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-header-area {
    height: 70px;
  }

  .main-header-area .mat-toolbar-area {
    height: 70px;
  }

  .side-nav-toolbar {
    height: 70px !important;
  }
}

@media only screen and (max-width: 767px) {
  .top-header-area {
    height: auto;
  }

  .top-header-area .email-address {
    .icon {
      border-bottom: solid #4d443d;
    }

  }

  .sticky-header {
    position: sticky;
    top: -90px;
  }

  .main-header-area {
    height: 70px;
  }

  .main-header-area .mat-toolbar-area {
    height: 70px;
    padding: 0.5em 30px;
  }

  .side-nav-toolbar {
    height: 70px !important;
  }

  .footer {
    top: 90px;
  }
}
