.particle {
  position: relative;
  top: 45px;
}

.technology{
    position: relative;
    top: 45px;
}

@media only screen and (max-width: 767px) {
  .particle {
    top: 90px;
  }
  .technology{
      top: 90px;
  }
}
